html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-image: url(../images/background-img.jpg);
  background-size: cover;
  background-position: center;
}

/* High score container styles */

.container {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 25rem;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
}

.heading-div h1 {
  text-decoration: underline rgb(69, 184, 184);
  text-underline-position: under;
  font-size: 3.6rem;
  font-weight: bold;
}

.high-scores-div {
  padding-top: 3rem;
}

.list-item {
  list-style-type: none;
  text-align: start;
  font-size: 2.4rem;
  padding: 0.5rem;
  border: 1px solid rgb(69, 184, 184);
}

.list-item:nth-child(2n) {
  background-color: lightcyan;
}

.btns-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 40%;
}

.btn {
  width: 30rem;
  text-decoration: none;
  border-radius: 5%;
  color: black;
  margin: 2rem;
  padding: 2rem;
  background-color: teal;
  border: none;
  font-size: 2.4rem;
  font-weight: bolder;
}

.btn:hover {
  color: white;
  width: 29rem;
}
