.container {
  width: 60%;
  position: absolute;
  border: 1px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
}

.heading-div h1 {
  text-decoration: underline rgb(69, 184, 184);
  text-underline-position: under;
  font-size: 36px;
  font-weight: bold;
}

.high-scores-div {
  padding: 20px;
}

.list-item {
  list-style-type: none;
  text-align: start;
  font-size: 24px;
  padding: 5px;
  border: 1px solid rgb(69, 184, 184);
}

.list-item:nth-child(2n) {
  background-color: lightcyan;
}

.btns-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 40%;
}

.btn {
  margin: 20px;
  padding: 20px;
  background-color: teal;
  border: none;
  font-size: 24px;
  font-weight: bolder;
}
