.container {
  height: 400px;
  width: 60%;
  position: absolute;
  border: 1px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
}

.high-scores-div {
  padding: 20px;
}

.btns-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 60%;
}

.btn {
  margin: 20px;
}
