html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-image: url(../images/background-img.jpg);
  background-size: cover;
  background-position: center;
}

/* main styling for intro page */
.header-flex-container {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  align-items: center;
  padding: 2rem;
}

.high-scores-link {
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: teal;
  color: black;
  font-size: 2.4rem;
  font-weight: bolder;
}

.high-scores-link:hover {
  color: white;
}

.timer {
  font-size: 3rem;
}

.container {
  height: 40rem;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 32rem;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
}

.heading-div {
  padding: 3rem;
}

.heading-div h1 {
  font-size: 5rem;
  text-decoration: underline teal;
  text-underline-position: under;
}

.description {
  margin: 3rem, 0;
  font-size: 2.3rem;
}

.start-button-div {
  position: relative;
  padding: 3rem;
  left: 50%;
  transform: translate(-50%);
}

.btn {
  padding: 2rem;
  background-color: teal;
  border-radius: 1rem;
  border: none;
  font-size: 2.4rem;
  font-weight: bolder;
  border-radius: 5%;
  width: 20rem;
}

.btn:hover {
  color: white;
  width: 19rem;
}

/* Styling for quiz question container */
.questions-div {
  padding: 2rem;
  font-size: 2.5rem;
}

.answers-div {
  margin-top: 1rem;
}

.answer-btn {
  position: relative;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  display: block;
  margin: 0.5rem;
  border-radius: 5%;
  padding: 1rem;
  background-color: teal;
  border: none;
  font-size: 2.4rem;
  font-weight: bolder;
  width: 20rem;
}

.answer-btn:hover {
  background-color: rgb(154, 216, 216);
}

.correct-answer {
  background-color: green;
  position: relative;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  display: block;
  margin: 0.5rem;
  border-radius: 5%;
  padding: 1rem;
  border: none;
  font-size: 2.4rem;
  font-weight: bolder;
  width: 20rem;
}

.incorrect-answer {
  background-color: red;
  position: relative;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  display: block;
  margin: 0.5rem;
  border-radius: 5%;
  padding: 1rem;
  border: none;
  font-size: 2.4rem;
  font-weight: bolder;
  width: 20rem;
}

/* Styling for game over container */
.results-heading-div {
  margin: 2rem;
  font-size: 3.2rem;
}

.results-info {
  position: relative;
  top: 10%;
  margin: 2rem;
  font-size: 2.4rem;
}

.game-over-form {
  position: relative;
  top: 20%;
  margin: 3rem;
}

.initials-input {
  padding: 1rem;
  font-size: 1.8rem;
  margin: 0.5rem;
}

.submit-score-btn {
  padding: 1rem;
  background-color: teal;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bolder;
  margin: 0.5rem;
}
