:root {
  --pink: rgb(221, 146, 155);
  --teal: rgb(82, 181, 178);
  --darkteal: rgb(73, 171, 168);
  --grey: rgb(234, 237, 240);
}

body {
  height: 100vh;
  background-image: url(../images/background-img.jpg);
  background-size: cover;
  background-position: center;
}

.btn {
  background-color: var(--teal);
  border: none;
}

.btn:hover {
  background-color: var(--darkteal);
}

@media screen and (max-width: 700px) {
  #main-container {
    margin-top: 10% !important;
    width: 85% !important;
  }
}

@media screen and (max-width: 330px) {
  #main-container {
    width: 90% !important;
  }
}
