.header-flex-container {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  align-items: center;
  padding: 20px;
}

.container {
  position: absolute;
  border: 1px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.heading-div {
  padding: 30px;
}

.button-div {
  padding: 30px;
}
