.header-flex-container {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  align-items: center;
  padding: 20px;
}

.high-scores-link {
  text-decoration: none;
  padding: 10px;
  background-color: teal;
  color: black;
  font-size: 24px;
  font-weight: bolder;
}

.quiz-container {
  height: 400px;
  width: 60%;
  position: absolute;
  border: 1px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.heading-div {
  padding: 30px;
}

.description {
  margin-top: 30px;
}

.start-button-div {
  position: absolute;
  padding: 30px;
  top: 65%;
  left: 50%;
  transform: translate(-50%);
}

.btn {
  padding: 20px;
  background-color: teal;
  border: none;
  font-size: 24px;
  font-weight: bolder;
}

/* Styling for quiz question container */
.questions-div {
  padding: 20px;
}

.answers-div {
  margin-top: 10px;
}

.answer-btn {
  padding: 10px;
  background-color: teal;
  border: none;
  font-size: 24px;
  font-weight: bolder;
  width: 200px;
  margin: 5px 0;
}

/* Styling for game over container */
.results-heading-div {
  margin: 20px;
  font-size: 32px;
}

.results-info {
  position: relative;
  top: 10%;
  margin: 20px;
  font-size: 24px;
}

.game-over-form {
  position: relative;
  top: 20%;
  margin: 30px;
}

.initials-input {
  padding: 10px;
  font-size: 18px;
  margin: 5px;
}

.submit-score-btn {
  padding: 10px;
  background-color: teal;
  border: none;
  font-size: 18px;
  font-weight: bolder;
}
